*{
    margin:0;
}
body{
    font-family: 'Times New Roman', Times, serif; 
}
footer>ul{
    border: 2px dotted green;
}
ul~p{
    text-decoration:red wavy underline;
}
article+article {
    background-color: blue;
}
h2+p{
    background-color: yellow; 
 }
article>p{
    text-shadow: 3px -5px 0.1em orange;
}